<div
  *ngIf="showModal"
  class="modal fade show d-block"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addDateModalLabel"
  aria-hidden="true"
  style="background: rgba(0, 0, 0, 0.5)"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addDateModalLabel">Add New Event</h5>
        <button
          type="button"
          class="close ms-auto"
          (click)="closeModal()"
          aria-label="Close"
          style="background: none; border: none"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="addEvent()">
          <div class="form-group">
            <label for="eventName">Event Name</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="newEvent.name"
              name="name"
              required
            />
          </div>
          <div class="form-group">
            <label for="eventDate">Event Date</label>
            <input
              type="datetime-local"
              class="form-control"
              [(ngModel)]="newEvent.date"
              name="date"
              required
            />
          </div>
          <div class="d-flex justify-content-end mt-3">
            <button type="submit" class="btn btn-primary">Add Event</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
